#calculator-body {
  border: 5px solid rgb(0, 0, 0);
  position: absolute;
  left: 30rem;
  height: 37rem;
  width: 26rem;
}

#display {
  height: 8rem;
  font-size: 70px;
  position: relative;
  top: -8.5rem;
  text-align: right;
  overflow: auto;
  word-wrap: break-word;
  line-height: 1em; /* a */
  max-height: 2em; /* a x number of line to show (ex : 2 line)  */
}

#buttons {
  position: relative;
  top: -19.5rem;
  height: 28.3rem;
  display: flex;
  flex-wrap: wrap;
}

#buttons > * {
  flex: 1 0 21%; /* explanation below */
  margin: 5px;
  height: 5rem;
  width: 50rem;
  background-color: rgb(180, 180, 248);
  font-size: 40px;
  font-weight: 900;
  cursor: pointer;
  color: rgb(0, 0, 0);
  border: 2px solid;
}
#clear:hover {
  opacity: 0.6;
  transition: 0.3s;
  background-color: rgb(180, 180, 248);
  color: rgb(10, 10, 10);
}

#plus {
  background-color: rgb(137, 177, 252);
  color: rgb(10, 10, 10);
}
#subtract {
  background-color: rgb(137, 177, 252);
  color: rgb(10, 10, 10);
}

#multiply {
  background-color: rgb(137, 177, 252);
  color: rgb(10, 10, 10);
}

#division {
  background-color: rgb(137, 177, 252);
  color: rgb(10, 10, 10);
}
#removeChar {
  background-color: rgb(137, 177, 252);
  color: rgb(10, 10, 10);
}
#equals {
  background-color: rgb(137, 177, 252);
  color: rgb(10, 10, 10);
}

#decimal {
  background-color: rgb(137, 177, 252);
  color: rgb(10, 10, 10);
}

#clear {
  background-color: rgb(137, 177, 252);
  color: rgb(10, 10, 10);
}
#removeChar:hover {
  opacity: 0.6;
  transition: 0.3s;
  background-color: rgb(137, 177, 252);
  color: rgb(10, 10, 10);
}

#decimal:hover {
  opacity: 0.6;
  transition: 0.3s;
  background-color: rgb(180, 180, 248);
  color: rgb(10, 10, 10);
}

#seven:hover {
  opacity: 0.6;
  transition: 0.3s;
  background-color: rgb(180, 180, 248);
  color: rgb(10, 10, 10);
}
#division:hover {
  opacity: 0.6;
  transition: 0.3s;
  background-color: rgb(180, 180, 248);
  color: rgb(10, 10, 10);
}

#eight:hover {
  opacity: 0.6;
  transition: 0.3s;
  background-color: rgb(180, 180, 248);
  color: rgb(10, 10, 10);
}
#nine:hover {
  opacity: 0.6;
  transition: 0.3s;
  background-color: rgb(180, 180, 248);
  color: rgb(10, 10, 10);
}

#multiply:hover {
  opacity: 0.6;
  transition: 0.3s;
  background-color: rgb(180, 180, 248);
  color: rgb(10, 10, 10);
}
#four:hover {
  opacity: 0.6;
  transition: 0.3s;
  background-color: rgb(180, 180, 248);
  color: rgb(10, 10, 10);
}

#five:hover {
  opacity: 0.6;
  transition: 0.3s;
  background-color: rgb(180, 180, 248);
  color: rgb(10, 10, 10);
}
#six:hover {
  opacity: 0.6;
  transition: 0.3s;
  background-color: rgb(180, 180, 248);
  color: rgb(10, 10, 10);
}

#subtract:hover {
  opacity: 0.6;
  transition: 0.3s;
  background-color: rgb(180, 180, 248);
  color: rgb(10, 10, 10);
}
#one:hover {
  opacity: 0.6;
  transition: 0.3s;
  background-color: rgb(180, 180, 248);
  color: rgb(10, 10, 10);
}
#two:hover {
  opacity: 0.6;
  transition: 0.3s;
  background-color: rgb(180, 180, 248);
  color: rgb(10, 10, 10);
}
#three:hover {
  opacity: 0.6;
  transition: 0.3s;
  background-color: rgb(180, 180, 248);
  color: rgb(10, 10, 10);
}
#plus:hover {
  opacity: 0.6;
  transition: 0.3s;
  background-color: rgb(180, 180, 248);
  color: rgb(10, 10, 10);
}
#zero:hover {
  opacity: 0.6;
  transition: 0.3s;
  background-color: rgb(180, 180, 248);
  color: rgb(10, 10, 10);
}
#equals:hover {
  opacity: 0.6;
  transition: 0.3s;
  background-color: rgb(180, 180, 248);
  color: rgb(10, 10, 10);
}

img {
  width: 2rem;
  margin-top: 0.6rem;
  margin-right: 0.1rem;
}
